.content {
    display: flex;
    justify-content: space-around;

}

.settings {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "poppins, sans-serif";
    font-weight: 300;
}

.banner {
    width:50%;
    align-self: center;
    padding: 10px;
    height: 30%;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner {
        width: 85%;
        padding: 0;
        padding-top: 20px;
    }
    .settings {
        width: 100%;
    }
}